<html>
  <head>
    <title>Catalog</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/catalog.css') }}">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script src="//apis.google.com/js/platform.js?onload=start"> </script>
  </head>
  <body>
    <h1 class="header">{{category.name}}</h1>
    <ul class="list">
      {% for item in items %}
        <li class="list-item">
          <h3><a href="/{{category.name}}/items/{{item.name}}" class="list-link">{{item.name}}</a></h3>
        </li>
      {% endfor %}
      <li class="list-item">
        <h3><a href="/{{category.name}}/add" class="list-link">Add Item</a></h3>
      </li>
      <li class="list-item">
        <h3><a href="/" class="list-link">Go Back</a></h3>
      </li>
      {% if username == False %}
        <li class="list-item login-link">
          <h3><a href="/login" class="list-link">Login</a></h3>
        </li>
      {% else %}
        <li class="list-item login-link">
          <h3><a href="/gdisconnect" class="list-link">Logout</a></h3>
        </li>
      {% endif %}
    </ul>
  </body>
</html>
